<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Show Listings</title>
    <th:block th:replace="base::header"></th:block>
</head>
<body>
    <!--nav bar-->
    <div th:replace="base :: navigation"></div>

    <div class="container">
        <h1>Admin Dashboard</h1>
        <br />
        <p>Here you can see all listings and their status, <a href="/add"><strong>add</strong></a> and update them</p>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading"><h2>All listings</h2></div>
            <table class="table">

                <th><strong>ID</strong></th>
                <th><strong>Description</strong></th>
                <th><strong>Wifi</strong></th>
                <th><strong>Cable</strong></th>
                <th><strong>Bathroom</strong></th>
                <th><strong>Status</strong></th>
                <th><strong>Rules</strong></th>
                <th> <strong>Action</strong></th>

                <tr th:each="i:${allListings}">
                    <td th:text="${i.id}"></td>
                    <td th:text="${i.description}"></td>
                    <td th:text="${i.wifi}"></td>
                    <td th:text="${i.cable}"></td>
                    <td th:text="${i.bathroom}"></td>
                    <td th:text="${i.rented}"></td>
                    <td th:text="${i.rules}"></td>

                    <td>
                        <a th:href="@{/update/{id} (id=${i.id})}">Update</a> - <a th:href="@{/delete/{id} (id=${i.id})}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <th:block th:replace="base::footer"></th:block>
</body>
</html>