<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Confirm the Listing you just added</title>
</head>
<body>
    <h1 th:inline="text">Confirmation:        [[${aHouse.rented}]]</h1>


    <h2>Description</h2>
    <p th:inline="text">[[${aHouse.description}]]</p>
    <h2>Rules</h2>
    <p th:inline="text">[[${aHouse.rules}]]</p>
    <h2>Amenities</h2>
    <p th:inline="text">Wifi: [[${aHouse.wifi}]] | Cable: [[${aHouse.cable}]] </p>
    <p th:inline="text">Private Bathroom: [[${aHouse.bathroom}]]</p>
    <hr></hr>

    <form action="/">
         <input type="submit" value="Go Home"/>
    </form>
    <form action="/showListings">
        <input type="submit" value="ShowListings"/>
    </form>


</body>
</html>