<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Home Search Page</title>
    <div th:replace="base::header"></div>
</head>
<body>
    <!--nav bar and css components-->
    <div th:replace="base :: navigation"></div>


    <div class="container">
        <h2> What do you want to do</h2>
        <p><a href="/add">Add a listing</a> or <a href="/showListings">Show Listings</a></p>
    </div>




    <th:block th:replace="base::footer"></th:block>
</body>
</html>