<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Add Listings</title>
    <th:block th:replace="base::header"></th:block>
</head>
<body>
    <!--nav bar and css components-->
    <div th:replace="base :: navigation"></div>


    <div class="container" style="border: 2px solid black">
        <h1>Add or Update enteries here</h1>

        <form class="well form-horizontal"
                action="#"
              th:action="@{/process/{id} (id=${aHouse.id})}"
              th:object="${aHouse}">
            <fieldset>
                <!--Form name-->
                <legend th:text="${isNew}? 'Add Listing':'Update Listing'">></legend>


                <!--hidden id input-->
                <input type="hidden" th:field="*{id}"/>

                <!--home description-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Description</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <textarea id="descriptionTextArea" cols="50" rows="2" maxlength="140" th:field="*{description}"/>
                            <span th:if="${#fields.hasErrors('description')}"
                                  th:errors="*{description}"></span><br />
                        </div>
                    </div>

                </div>

                <!--Free wifi-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Free Wifi</label>
                    <div class="col-md-4 inputGroupContainer">
                        <select th:field="*{wifi}">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>

                    <label class="col-md control-label">Cable</label>
                </div>

                <!--Cable-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Cable</label>
                    <div class="col-md-4 inputGroupContainer">
                        <select th:field="*{cable}">
                            <option value="None">None (cable cutter)</option>
                            <option value="Basic">Basic</option>
                            <option value="Premium">Premium</option>
                        </select>
                    </div>
                </div>

                <!--Private Bathroom-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Private Bathroom</label>
                    <div class="col-md-4 inputGroupContainer">
                        <select th:field="*{bathroom}">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                </div>

                <!--Home Rules-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Rules</label>
                    <div class="col-md-4 inputGroupContainer">
                        <textarea id="rulesTextArea" cols="50" rows="4"  th:field="*{rules}"/>
                        <span th:if="${#fields.hasErrors('rules')}"
                              th:errors="*{rules}"></span><br />
                    </div>
                </div>

                <!--room avalability-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Avalability</label>
                    <div class="col-md-4 inputGroupContainer">
                        <select th:field="*{rented}">
                            <option value="Avalible">Avalible</option>
                            <option value="Unavalible">Unavalible</option>
                        </select>
                    </div>
                </div>


                <!--Button: Save or update entry-->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button id="buttonSubmit" type="submit" class="btn btn-warning">Save <span class="glyphicon glyphicon-send"></span></button>
                        <button id="buttonReset" type="reset" class="btn btn-warning">Clear <span class="glyphicon glyphicon-send"></span></button>

                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    <th:block th:replace="base::footer"></th:block>
</body>
</html>