<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Show Listings</title>
    <th:block th:replace="base::header"></th:block>
</head>
<body>
    <!--nav bar-->
    <div th:replace="base :: navigation"></div>

    <div class="container">
        <h2>All listings</h2>
        <table border="1" width="80%">

            <th width="5%"><strong>ID</strong></th>
            <th width="20"><strong>Description</strong></th>
            <th width="5%"><strong>Wifi</strong></th>
            <th width="5%"><strong>Cable</strong></th>
            <th width="5%"><strong>Bathroom</strong></th>
            <th width="10%"><strong>Status</strong></th>
            <th width="30%"><strong>Rules</strong></th>
            <th width="10%"><strong>Action</strong></th>

            <tr th:each="i:${allListings}">
                <td th:text="${i.id}"></td>
                <td th:text="${i.description}"></td>
                <td th:text="${i.wifi}"></td>
                <td th:text="${i.cable}"></td>
                <td th:text="${i.bathroom}"></td>
                <td th:text="${i.rented}"></td>
                <td th:text="${i.rules}"></td>

                <td>
                    <a th:href="@{/update/{id} (id=${i.id})}">Update</a> - <a th:href="@{/delete/{id} (id=${i.id})}">Delete</a>
                </td>
            </tr>
        </table>

        <h2>Avalible Homes</h2>

        <table border="1" width="80%">
            <th width="5%"><strong>ID</strong></th>
            <th width="20"><strong>Description</strong></th>
            <th width="5%"><strong>Wifi</strong></th>
            <th width="5%"><strong>Cable</strong></th>
            <th width="5%"><strong>Bathroom</strong></th>
            <th width="10%"><strong>Status</strong></th>
            <th width="30%"><strong>Rules</strong></th>
            <th width="10%"><strong>Action</strong></th>
            <tr th:each="i:${avalibleListings}">
                <td th:text="${i.id}"></td>
                <td th:text="${i.description}"></td>
                <td th:text="${i.wifi}"></td>
                <td th:text="${i.cable}"></td>
                <td th:text="${i.bathroom}"></td>
                <td th:text="${i.rented}"></td>
                <td th:text="${i.rules}"></td>
                <td>
                    <a th:href="@{/update/{id} (id=${i.id})}">Update</a> - <a th:href="@{/delete/{id} (id=${i.id})}">Delete</a>
                </td>
            </tr>
        </table>

        <h2>Unavalible Homes</h2>

        <table border="1" width="80%">
            <th width="5%"><strong>ID</strong></th>
            <th width="20"><strong>Description</strong></th>
            <th width="5%"><strong>Wifi</strong></th>
            <th width="5%"><strong>Cable</strong></th>
            <th width="5%"><strong>Bathroom</strong></th>
            <th width="10%"><strong>Status</strong></th>
            <th width="30%"><strong>Rules</strong></th>
            <th width="10%"><strong>Action</strong></th>
            <tr th:each="i:${unavalibleListings}">
                <td th:text="${i.id}"></td>
                <td th:text="${i.description}"></td>
                <td th:text="${i.wifi}"></td>
                <td th:text="${i.cable}"></td>
                <td th:text="${i.bathroom}"></td>
                <td th:text="${i.rented}"></td>
                <td th:text="${i.rules}"></td>
                <td>
                    <a th:href="@{/update/{id} (id=${i.id})}">Update</a> - <a th:href="@{/delete/{id} (id=${i.id})}">Delete</a>
                </td>
            </tr>
        </table>

    </div>
    <th:block th:replace="base::footer"></th:block>
</body>
</html>